<h1 class="text-center mt-5">Edit Your Income</h1>

<section class="text-center mt-4" style="margin-left: 15%;">
    <form action="/income/{{incomeEdit._id}}/edit" method="post">
        <div class="form-group row mt-4" style="display: flex; flex-direction: column;">
            <div class="col-sm-10">
                <input type="date" class="form-control form-control-lg" id="colFormLabelLg"  placeholder="{{expenseEdit.date}}" name="date" value="{{incomeEdit.date}}" required>
            </div>
        </div>
        <div class="form-group row mt-4" style="display: flex; flex-direction: column;">
            <div class="col-sm-10">
                <input type="text" class="form-control form-control-lg" id="colFormLabelLg" placeholder="{{expenseEdit.category}}" name="category" value="{{incomeEdit.category}}" required>
            </div>
        </div>
        <div class="form-group row mt-4" style="display: flex; flex-direction: column;">
            <div class="col-sm-10">
                <input type="number" class="form-control form-control-lg" id="colFormLabelLg" placeholder="€ {{expenseEdit.amount}}" name="amount" value="{{incomeEdit.amount}}" required>
            </div>
        </div>
        <button type="submit" class="btn btn-dark mt-5" style="display: flex; align-self: center;">Submit</button>
    </form>
</section>