<section>
    <form action="/income" method="get">
        <label> Amount
            <input type="Number" name="amount" placeholder="Filter by Amount">
        </label>
        <button>Search</button>
    </form>
    <h3>Income</h3>
<hr/>

    <ul class="list-group list-group-flush">
        {{#each income}}
            <li class="list-group-item"> {{dateFormat date "dddd, MMMM YYYY"}} </li>
            <li class="list-group-item">{{category}}: € {{amount}}</li>
            <li class="list-group-item"><a href="/income/{{this._id}}/edit" class="a-edit-inc">Edit</a>
            <a href="/income/{{this._id}}/delete" class="a-delete-inc">Delete</a></li>
            <br><br>
        {{/each}}
    </ul>
<br><br><br>
    <h3>Your balance : € {{balance}} </h3>




</section>