{{!-- <section class="container mt-4">
    <form action="/income" method="get">
        <label> Amount
            <input type="Number" name="amount" placeholder="Filter by Amount">
        </label>
        <button>Search</button>
    </form>
    <h3 class="text-center">Income</h3>
    <hr/>
    <div class="card text-center">
        {{#each income}}
        <div class="card-header">
            {{dateFormat date "dddd, MMMM YYYY"}}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{category}}</h5>
            <p class="card-text"> € {{amount}}</p>
            <a href="/income/{{this._id}}/edit" class="a-edit-inc">Edit</a>
            <a href="/income/{{this._id}}/delete" class="a-delete-inc">Delete</a>  
        </div>
        {{/each}}    
    </div>
    <br><br><br>
    <h3>Your balance : € {{balance}} </h3>
</section>
 --}}


<h2 class="transaction-header">LIST OF INCOME</h2>
    <hr class="hr-list">
    <form class="search-bar" action="/income" method="get">
        <input class="inp-search" type="Number" name="amount" placeholder="Filter by Amount">
        <button class="btn-filter">Search</button>
    </form>
<div class="your-balance">
    <h3> Current Balance: €{{balance}} </h3>
</div>
    <hr class="other-bar">
<div class="transaction-container">
    {{#each income}}
    <div class="date">{{dateFormat date "dddd, MMMM YYYY"}}</div>
    <div class="category">Type: {{category}}</div>
    <div class="amount">€ {{amount}}</div>
    <a href="/income/{{this._id}}/edit" class="a-list">Edit</a>
    <a href="/income/{{this._id}}/delete" class="a-list">Delete</a>
    {{/each}}
</div>
