<section>
    <form action="/income" method="get">
        <label> Amount
            <input type="Number" name="amount" placeholder="Filter by Amount">
        </label>
        <button>Search</button>
    </form>
    <h3>Income</h3>
<hr/>

    <ul>
        {{#each income}}
            <li> {{dateFormat date "dddd, MMMM YYYY"}} </li>
            <li>{{category}}: € {{amount}}</li>
            <a href="/income/{{this._id}}/edit" class="a-edit-inc">Edit</a>
            <a href="/income/{{this._id}}/delete" class="a-delete-inc">Delete</a>
            <br><br>
        {{/each}}
    </ul>

    <h3>Your balance : € {{balance}} </h3>




</section>