{{!-- <section class="container mt-4">
    <form action="/expense" method="get">
        <label> Amount
            <input type="Number" name="amount" placeholder="Filter by Amount">
        </label>
        <button>Search</button>
    </form>

    <h3 class="text-center">Expense</h3>
    <hr/>
    <div class="card text-center">
    {{#each expenses}}
        <div class="card-header">
            {{dateFormat date "dddd, MMMM YYYY"}}
        </div>
        <div class="card-body">
            <h5 class="card-title">Type: {{category}}</h5>
            <p class="card-text"> € {{amount}}</p>
            <a href="/expense/{{this._id}}/edit" class="a-edit-inc">Edit</a>
            <a href="/expense/{{this._id}}/delete" class="a-delete-inc">Delete</a>  
        </div>
    {{/each}}    
    </div>
    <br><br><br>
    <h3>Your balance : € {{balance}} </h3>
</section>
 --}}

<h2 class="transaction-header">LIST OF INCOME</h2>
    {{#each expenses}}
  <div class="transaction-container">
    <div class="date">{{dateFormat date "dddd, MMMM YYYY"}}</div>
    <div class="category">Type: {{category}}</div>
    <div class="amount">€ {{amount}}</div>
    <a href="/expense/{{this._id}}/edit" class="a-edit-inc">Edit</a>
    <a href="/expense/{{this._id}}/delete" class="a-delete-inc">Delete</a>
  </div>
  {{/each}}

  <br><br><br>
    <h3>Your balance : € {{balance}} </h3>