
<h2 class="transaction-header">LIST OF EXPENSES</h2>
    <hr>
    <form class="search-bar" action="/expense" method="get">
        <input type="Number" name="amount" placeholder="Filter by Amount">
        <button class="btn-filter">Search</button>
    </form>
<div class="your-balance">
    <h3> Current Balance: €{{balance}} </h3>
</div>
    <hr class="other-bar">
<div class="transaction-container">
    {{#each expenses}}
    <div class="date">{{dateFormat date "dddd, MMMM YYYY"}}</div>
    <div class="category">Type: {{category}}</div>
    <div class="amount">€ {{amount}}</div>
    <a href="/expense/{{this._id}}/edit" class="a-list">Edit</a>
    <a href="/expense/{{this._id}}/delete" class="a-list">Delete</a>
    {{/each}}
</div>
